<%- include('header') -%>

  <body class="gradient-custom">
    <div class="main">
      <h1>Data Not Found! Pls Enter Valid City Name</h1>
      <button> <a href="/"> Home</a> </button>
    </div>
  </body>

  </html>