<%- include('header') -%>

<body class="gradient-custom">
    <div class="main"> 
    <form action="/" method="post" >
        <label for="cityName" style="font-size: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">CityName</label><br>
        <input required type="text" name="cityName" id="cityName" placeholder="Enter here..." style="font-size: 18px; margin-bottom: 10px;"><br>
        <button type="submit" style="width: 70px; background: lightgreen;">Go</button>
    </form>    
</div>
</body>

</html>